body {
  overflow: hidden;
  align-items: center;
}

header {  
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    z-index: -1;
    background-color: black;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

header video {
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    /* Center the video */
    position: absolute;
    top: 0%;
    left: 0%;

    /* start out transparent, animation will be added later */
    opacity: 0%;

}

.fade-in { 
    animation: fadeIn 4s;
    opacity: 100%;
}
