---
layout: default
---

<style>
    body {
        background-color: black;
        color: white;
        animation-name: bg-fade;
        animation-duration: 0.5s;
    }

    @keyframes bg-fade {
        from {
            background-color: white;
        }

        to {
            background-color: black;
        }
    }

    .carousel {
        max-width: 500px;
        /* margin: 0 auto; */
        padding-top: 20px;
        padding-right: 20px;
        display: inline-block;
        vertical-align: top;

    }

    h1 {
        /* font-family: Rubik; */
        font-family: 'DM Serif Display';
        /* margin-top: 30px; */
        font-size: 80px;
    }

    .md-content {
        font-family: Rubik;
        display: inline-block;
        width: 500px;
    }

    .pager {
        font-size: 14px;
        display: block;
        width: auto;
        overflow: hidden;
    }

    .pager a {
        display: block;
        width: 50%;
        float: left;
        margin: 1em 0;
        font-family: 'Rubik';
        color: white;
        font-size: 40px;
    }

    .pager a:hover span {
        display: none;
    }

    .pager .previous:hover:before {
        content: '\25c0';
    }

    .pager .next:hover:before {
        content: '\25b6';
    }


    .pager a,
    .pager a:active,
    .pager a:hover,
    .pager a:visited,
    .pager a:link,
    .parger a:focus {
        text-decoration: none;
    }

    .pager .next {
        text-align: right;
    }
</style>

<div>

    <div class="pager">
        <a class="previous" href="{{page.previous.url}}">
            {% if page.previous.url %}
            <span>&#9665</span>
            {% endif %}
        </a>
        <a class="next" href="{{page.next.url}}">
            {% if page.next.url %}
            <span>&#9655</span>
            {% endif %}
        </a>
    </div>
    <div class="outer-content">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for image in page.images %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.index0}}" class="active"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for image in page.images %}
                {% if forloop.index0 == 0 %}
                <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item">
                        {%endif%}
                        <img class="d-block w-100" src="../../assets/projects/cropped/{{image}}" alt="slide">
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="md-content">
                <h1>{{page.title}}</h1>
                {{content}}

                {% if page.watch_link %}
                <a href="{{page.watch_link}}" target="_blank" class="btn btn-outline-light"
                    style="font-family: Rubik">LEARN MORE</a>
                {% endif %}
            </div>
        </div>
    </div>
